/* @import url('vditor/dist/index.css');
@import url('jquery-confirm/css/jquery-confirm.css'); */
body {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
}
body[data-use-vscode-theme-color="1"] .vditor {
  --panel-background-color: var(--vscode-editor-background);
  --toolbar-background-color: var(--vscode-editor-background);
  --textarea-background-color: var(--vscode-editor-background);
  --ir-heading-color: var(--vscode-editorLineNumber-foreground)
}
/* fix font family */
.vditor .vditor-reset {
  font-family: var(--vscode-editor-font-family)!important;
  font-size: var(--vscode-editor-font-size);
}
/* fix code block color in dark mode */
.vditor--dark .vditor-reset code:not(.hljs):not(.highlight-chroma) {
  background-color: transparent;
  background-image: none;
}
/* .vditor--dark .vditor-reset pre.vditor-ir__preview:has(code) {
  background-color: var(--vscode-activityBar-background);
  border-radius: 5px;
  padding: 5px;
} */
.vditor--dark .vditor-reset pre.vditor-ir__preview code {
  padding-bottom: 9.9px;
}
.vditor-ir pre.vditor-reset {
  position: relative;
}
.vditor-panel {
  transform: translate(-25px, 0);
  max-width: 21px;
  max-height: 21px;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}
.vditor-panel::after {
  content: '...';
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--toolbar-background-color);
  color: var(--toolbar-icon-color);
  text-align: center;
  font-family: none;
}
.vditor-panel:hover,
.vditor-panel_hover {
  opacity: 0.86;
  max-width: none;
  max-height: none;
  overflow: visible;
}

.vditor-panel:hover:after,
.vditor-panel_hover:after {
  display: none;
}
.jconfirm {
  color: black;
}
.jconfirm-buttons button {
  text-transform: none!important;
}
.vditor--dark .vditor-reset table tr,
.vditor--dark .vditor-reset table tbody tr:nth-child(2n) {
  background-color: var(--textarea-background-color);
}
div.vditor {
  border: none;
}
.vditor .vditor-reset h1,
.vditor .vditor-reset h2 {
  border-bottom: 1px solid var(--vscode-editorLineNumber-foreground);
}
.vditor-copy span {
  right: 10px;
  top: 10px;
}
.vditor-ir__marker--heading {
  color: var(--ir-heading-color);
}
.vditor-ir__node pre.vditor-ir__preview {
  display: block;
}
.vditor-ir__node--expand pre.vditor-ir__preview {
  display: none;
}

.vditor-ir .vditor-reset {
  & > h1 {
    position: relative;
    &::before {
      position: absolute;
      /* Account for the underline */
      top: calc(50% - 4.175px);
      transform: translateY(-50%);
    }
  }

  & > h2 {
    position: relative;
    &::before {
      position: absolute;
      top: calc(50% - 3.755px);
      transform: translateY(-50%);
    }
  }
  
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.vditor-counter {
  background-color: transparent;
  margin-right: 15px;
  margin-top: 0px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}